.carusel{
    width: 70%;
    max-width: 1000px;
}
img{
    height:500px;
    border-radius: 40px;
    border-style: white solid;
}
.carousel-control-prev-icon::after {
    content: none;
}
.carousel-control-next-icon::after {
    content: none;
} 