body {
  height: 100%;
  
}

.bg{
  background-image:url("https://cdn.pixabay.com/photo/2013/11/28/10/36/road-220058_960_720.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title{
  text-decoration: none;
  background-color: black;
  color: white;
  padding:10px;
  border-radius: 20px;
}